<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/static/main.css" media="screen" />
	</head>

	<body>
		<%
		if ( header ) {
		%>
			<div class="container header container-editable" data-path="/_header">
			<!-- Cannot Modify Start -->
				<%-header%>
			<!-- Cannot Modify End -->
			</div>
		<% } %>
		<div id='main'>
			<div class="main">
				<% if( sidebar ) { %>
				<div class="container sidebar"><div class="container-editable" data-path="/_sidebar">
				<!-- Cannot Modify Start -->
				<%-sidebar%>
				<!-- Cannot Modify End -->
				</div></div>
				<% } %>
				<div class='container body container-editable'><div id="body">
				<!-- Cannot Modify Start -->
				<%-body%>
				<!-- Cannot Modify End -->
				</div></div>
			</div>
		</div>
		<% if( footer ) { %>
			<div  class="container footer container-editable"  data-path="/_footer">
				<!-- Cannot Modify Start -->
				<%-footer%>
				<!-- Cannot Modify End -->
			</div>
		<% } %>
		<% if(authenticated) { %>
			<link rel="stylesheet" type="text/css" href="/static/control.css" media="screen" />
			<script src="/static/bundle.js"></script>
		<% } %>
	</body>

</html>
