<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/static/main.css" media="screen" />
	</head>

	<body>
		<%
		if (partials['_header']) {
		%>
			<div class="container header container-editable" data-path="/_header">
			<!-- Cannot Modify Start -->
				<%-partials['_header']%>
			<!-- Cannot Modify End -->
			</div>
		<% } %>
		<div id='main'>
			<div class="main">
				<% if( partials['_sidebar'] ) { %>
				<div class="container sidebar"><div class="container-editable" data-path="/_sidebar">
				<!-- Cannot Modify Start -->
				<%-partials['_sidebar']%>
				<!-- Cannot Modify End -->
				</div></div>
				<% } %>
				<div class='container body'><div id="body" class="container-editable">
				<!-- Cannot Modify Start -->
				<%-body%>
				<!-- Cannot Modify End -->
				</div></div>
			</div>
		</div>
		<% if( partials['_footer'] ) { %>
			<div  class="container footer container-editable"  data-path="/_footer">
				<!-- Cannot Modify Start -->
				<%-partials['_footer']%>
				<!-- Cannot Modify End -->
			</div>
		<% } %>
		<% if(authenticated) { %>
			<link rel="stylesheet" type="text/css" href="/static/control.css" media="screen" />
			<script src="/static/index.min.js"></script>
		<% } %>
	</body>

</html>
