<link rel="stylesheet" type="text/css" href="/static/control.css" media="screen" />
<script src="/static/marked.min.js"></script>
<div id="control" class="control-container">
	<button id="pop"><a href="/admin" target="_blank">pop</a></button>
</div>
<textarea id="source" style="display:none"><%-source%></textarea>
<script>
	var hash = '<%-hash%>';
</script>
<script src="/static/bundle.js"></script>
